@model IEnumerable<SongsAndPerformances.Models.User>


@{
    ViewData["Title"] = "Error";
}<br /><br />
<p>You have entered wrong nickname or password!</p>
<p>
    <br />
    <a class="btn btn-danger" asp-area="" asp-controller="Users" asp-action="Logging">OK</a>
</p>

