@model IEnumerable<SongsAndPerformances.Models.User>
    

@{
    ViewData["Title"] = "Error";
}<br /><br />
<p>This nickname already exists</p>
    <p><br />
        <a class="btn btn-danger" asp-area="" asp-controller="Users" asp-action="Create">OK</a>
    </p>

